# /etc/systemd/system/example.timer
# or
# ~/.config/systemd/user/example.timer

[Unit]
Description=Timer for Example Service
Documentation=man:systemd.timer(5)
Requires=example.service
After=network-online.target

[Timer]
# OnBootSec=15min
# OnUnitActiveSec=1h
# OnCalendar=*-*-* 00:00:00
# RandomizedDelaySec=10min

# AccuracySec=1s
# Persistent=true
# WakeSystem=false
# RemainAfterElapse=no

[Install]
WantedBy=timers.target