# $HOME/.config/systemd/user/example-user.service

[Unit]
Description=Example User Service (e.g., Script)
After=network-online.target

[Service]
Type=simple
# %h = user's home directory
ExecStart=/usr/bin/zsh %h/scripts/my_script.zsh
Restart=on-failure
Environment="DISPLAY=:0"
WorkingDirectory=%h/project

[Install]
WantedBy=default.target